/* TABLE */
table {
    width: 100%;
    border-radius: 12px;
    border-top: 1px solid var(--table-border) !important;
    border-left: 1px solid var(--table-border) !important;
}

/* Alternating row colors */
table tr:nth-child(even) {
  background-color: #f9f9f9; /* Light gray for even rows */
}

table tr:nth-child(odd) {
  background-color: #ffffff; /* White for odd rows */
}

.c_table tr, .c_table td {
    height: 44px;
    font-size: 13px;
}


.table-container {
  overflow-x: auto !important;
  display: block !important;
  white-space: nowrap !important;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
}
.table-container th,
.table-container td {
  padding: 8px 14px !important;
  text-align: left;
  white-space: nowrap !important;
  border-right: 1px solid var(--table-border) !important;
}

.table-container tr {
  border-bottom: 1px solid var(--table-border) !important;
}
.sticky-column {
  position: sticky;
  right: 0;
  top: -1px;
  background-color: white;
  z-index: 99;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-cell {
  position: relative;
  cursor: pointer;
}

.copy-cell::after {
  content: "Click to Copy";
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-cell:hover::after {
  opacity: 1;
}

.copy-cell.copied::after {
  content: "Copied!";
  background: green;
}

.table-operate-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}