<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - FastAPI MongoDB</title>

    <!-- INTEGRATE WITH CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">

</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100vh;" >

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <p style="font-size: 24px; color: #888888;" >INTELLINEX Solution Co., LTD</p>
        <p style="font-size: 13px; color: #CCCCCC;">Thank you for trusting outr service.</p>
    </div>

    <!-- INTEGRATE WITH JAVASCRIPT OR JQUERY -->
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    
</body>
</html>